body {
  font-family: "Zen Old Mincho", serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
  min-height: 100vh;
  background: #c9ffbf;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffafbd, #c9ffbf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

body [lang='en'] {
  font-family: "Neonderthaw", "Kosugi Maru", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

body :focus {
  outline: none;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
}

nav.navbar [lang='en'] {
  font-size: 32px;
  font-weight: normal;
}

@media (max-width: 767px) {
  nav.navbar [lang='en'] {
    font-size: 24px;
  }
}

nav.navbar a.nav-link {
  color: #fff;
}

@media (max-width: 767px) {
  nav.navbar a.nav-link [lang='en'] {
    display: none;
  }
}

h1 {
  font-size: 120px;
  text-align: center;
}

@media (max-width: 767px) {
  h1 {
    font-size: 12vw;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 24vw;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.8;
}

@media (max-width: 767px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.8;
}

@media (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

a {
  color: #3a6073;
}

a:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
  display: inline-block;
}

.link-btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #111;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  color: #fff;
}

.link-btn:hover {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.link-btn:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.link-btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .link-btn {
    padding: 13px 50px 13px;
  }
}
