$font: 'Zen Old Mincho', serif;
$fontEn: 'Neonderthaw', 'Kosugi Maru', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
  sans-serif;
$white: #fff;
$black: #111;

body {
  font-family: $font;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
  min-height: 100vh;
  @media (max-width: 575px) {
    font-size: 14px;
  }

  background: #c9ffbf; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffafbd, #c9ffbf); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffafbd,
    #c9ffbf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  [lang='en'] {
    font-family: $fontEn;
  }
  :focus {
    outline: none;
  }
}
nav.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  color: $white;
  font-weight: bold;
  [lang='en'] {
    font-size: 32px;
    font-weight: normal;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  a.nav-link {
    color: $white;
    [lang='en'] {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  // span.navbar-toggler-icon {
  //   color: $white;
  //   font-size: 40px;
  // }
}

h1 {
  font-size: 120px;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 12vw;
  }
  @media (max-width: 575px) {
    font-size: 24vw;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.8;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.8;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

// content
ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

a {
  color: #3a6073;
  &:hover {
    opacity: 0.8;
  }
}

strong {
  font-weight: bold;
  display: inline-block;
}

// ボタン

.link-btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid $black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  color: $white;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $white;
  }
}

.link-btn:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.link-btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .link-btn {
    padding: 13px 50px 13px;
  }
}
